.post {
    display: flex;
    box-shadow: -3px 7px 7px 3px  grey;
    border-radius: 10px;
    width: 45%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
}

.post-img {
    order: 1;
    align-self: center;
}

.post-img img {
    border-radius: 10px;
}

.post-content {
    order: 2;
    margin: auto 20px;
}

.post-title {
    font-weight: bold;
    font-size: 20px;
}

.post-desc {
    font-weight: lighter;
}

.btn {
    background-color: white;
    padding: 6px 12px;
    margin-right: 10px;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 10px;
    outline: unset;
    transition: .2s;
}

.btn-danger {
    border: none;
    color: rgb(221, 62, 62);
}

.btn-danger:hover {
    cursor: pointer;
    color: #fff;
    background-color: rgb(221, 62, 62);
}

.btn-success {
    border: none;
    color: rgb(62, 221, 62);
}

.btn-success:hover {
    cursor: pointer;
    color: #fff;
    background-color: rgb(62, 221, 62);
}
